:root {
    --primary-color: lightgreen;
    --primary-color-dark: green;
    --secondary-color: lime;
    --text-dark: black;
    --text-light: lightgray;
    --extra--color: olive;
    --max-width: 1200px;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-image: url(IT-Dept.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    z-index: 99;
}

.nav-content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5em 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

nav .logo span {
    color: #f33;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    margin-left: -40px;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    top: 25px;
    position: relative;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a::after {
    content: '';
    box-shadow: 1px 3px 14px gray;
    width: 0%;
    height: 3px;
    background-color: lime;
    top: -7px;
    position: relative;
    display: block;
    margin: 10px;
    transition: 0.3s;
}

ul li a:hover::after {
    width: 100%;
}


.section {
    background-image: var(--primary-color);
}

.section-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    text-shadow: 1px 4px 15px gray;
}

.title {
    text-shadow: 1px 4px 15px gray;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: greenyellow;
    margin-bottom: 1rem;
}

.subtitle span {
    font-weight: 600;
    color: lime;
    text-shadow: 1px 4px 15px rgb(60, 195, 145);
}


.action-btn {
    display: flex;
    gap: 1rem;
}

.action-btn button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.button1 a {
    color: white;
}

.button1 {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
}

.button1:hover {
    background-color: var(--primary-color-dark);
}

.image {
    color: var(--primary-color);
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    box-shadow: 1px 3px 15px gray;
    width: min(25rem, 90%);
    border-radius: 100%;
    transition: .6s;
    filter: grayscale(100%);
}

.image img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(0%);
    box-shadow: 1px 3px 15px blue;
}

@media (width < 750px) {
    nav .logo a {
        font-size: 1.5em;
        font-weight: 600;
    }

    nav .checkbox {
        display: block;
    }

    ul li {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra--color);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section-container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .image img {
        width: 70%;
    }

    .action-btn {
        margin: auto;
    }
}

/*---About---*/

#row {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.row .left {
    overflow: hidden;
}

.row .left img {
    margin: 4rem;
    box-shadow: 1px 3px 15px gray;
    width: 65%;
    border-radius: 100%;
    transition: .6s;
    filter: grayscale(100%);
}

.row .left img:hover {
    box-shadow: 1px 3px 15px blue;
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(0%);
}

.row .right {
    display: flex;
    align-items: center;
}

.row .right .content {
    padding-left: 20px;
}

.row .right .content p {
    color: white;
    text-align: center;
    font-size: 30px;
    left: 60px;
    position: relative;
    line-height: 30px;
    text-shadow: 1px 3px 15px violet;
}

.content p span {
    text-shadow: 1px 3px 15px gray;
    color: #f33;
}

.title2 {
    text-shadow: 1px 3px 4px gray;
    color: greenyellow;
    font-size: 5rem;
    left: 200px;
    position: relative;
    margin: 0px 20px;
    margin-bottom: 1rem;
}

/*-- For Mobile --*/

@media (max-width: 768px) {
    .row {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .row .left {
        overflow: hidden;
    }

    .row .left img {
        display: block;
        margin: auto;
        width: 90%;
        border-radius: 100%;
    }

    .row .right .content p {
        margin-left: -20px;
        text-align: center;
        font-size: 20px;
        left: 0px;
        position: relative;
        line-height: 25px;
        text-shadow: 1px 3px 3px gray;
    }

    .title2 {
        left: 0px;
        position: relative;
    }
}

/*--Portfolio--*/

.portfolio {
    width: 100%;
    height: 100vh;
}

.walanamaisipnaipapangalan {
    text-align: center;
    font-size: 67px;
}

.panggalan {
    margin-top: -40px;
    padding: 20px;
}

.panggalan a {
    color: greenyellow;
}

.image1 {
    width: 500px;
    padding: 20px;
}

.panggalan a::after {
    content: '';
    box-shadow: 1px 3px 14px gray;
    width: 0%;
    height: 3px;
    background-color: rgb(0, 251, 255);
    top: -2px;
    position: relative;
    display: block;
    transition: 0.3s;
}

.panggalan a:hover::after {
    width: 36%;
}

.panggalan .code:hover::after {
    width: 27%;
}

.panggalan2 a {
    color: greenyellow;
}

.panggalan2 a::after {
    content: '';
    box-shadow: 1px 3px 14px gray;
    width: 0%;
    height: 3px;
    background-color: rgb(0, 251, 255);
    top: -2px;
    position: relative;
    display: block;
    transition: 0.3s;
}

.panggalan2 a:hover::after {
    width: 46%;
}


.panggalan2 .code2:hover::after {
    width: 41%;
}

.im {
    position: relative;
    display: flex;
}

.panggalan3{
    color: greenyellow;
}

.panggalan3 a::after {
    content: '';
    box-shadow: 1px 3px 14px gray;
    width: 0%;
    height: 3px;
    background-color: rgb(0, 251, 255);
    top: -2px;
    position: relative;
    display: block;
    transition: 0.3s;
}

.panggalan3 a:hover::after {
    width: 28%;
}

.images-row2{
    top: 20px;
    position: relative;
}

.images-row2 img{
    width: 220px;
    padding: 0;
}

.images-row3{
    margin-top: 20px;
    margin-left: 20px;
}

.images-row3 img{
    width: 300px;
    height: 200px;
}

.images-row3 a{
    color: greenyellow;
}

.images-row1 img{
    width: 340px;
    padding: 20px;
}

@media(max-width:  768px) {
    .images-row3 img{
        width: 200px;
    }

    .images-row3{
        margin-top: 0;
        margin-left: 0;
    }

    .images-row1{
       padding: 30px;
    }

    .code{
        float: right;
        left: 40px;
        top: -30px;
        position: relative;
    }

    .code2{
        float: right;
        left: 1px;
        top: -30px;
        position: relative;
    }

    .code3{
        float: right;
        left: 1px;
        top: -30px;
        position: relative;
    }

    .images-row1 img{
        width: 200px;
        padding: 0;
    }

    .portfolio {
        width: 100%;
        height: 150vh;
    }

    .panggalan{
        padding: 40px;
        margin-left: -40px;
    }

    .images-row2{
        top: 200px;
        left: -230px;
        position: relative; 
    }

    .images-row2 img{
        width: 200px;
    }

    .panggalan3 a{
        color: greenyellow;
    }

    .panggalan a:hover::after{
        width: 69%;
    }

    .panggalan .code:hover::after{
        width: 100%;
    }
 
    .panggalan2 a:hover::after{
        width: 46%;
    }

    .panggalan2 .code2:hover::after{
        width: 100%;
    }

    .panggalan3 .code3:hover::after{
        width: 100%;
    }

    .panggalan3 a:hover::after{
        width: 40%;
    }

    .images-row3{
        top: 400px;
        left: -430px;
        position: relative;
    }
}



/*--Contact--*/

.contact {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

.message {
    font-size: 36px;
    padding-top: 200px;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitle2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.links {
    text-shadow: 1px 3px 15px silver;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 20px;
}

.links a {
    color: black;
    transition: 1s;
}

.links a:hover {
    transform: scale(1.5);
}

.fb {
    line-height: 1rem;
    text-align: center;
    font-size: 20px;
}

.git {
    line-height: 1rem;
    text-align: center;
    font-size: 20px;
}

.tik {
    line-height: 1rem;
    text-align: center;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,
.but {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: var(--primary-color-dark);
}

@media only screen and (min-width: 600px) {

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 48%;
        display: inline-block;
        margin-right: 10px;
    }

    select {
        margin-right: 0;
    }

    .contact {
        width: 100%;
        height: 100vh;
        background-color: burlywood;
    }
}

/*--Skills--*/

.skills {
    text-shadow: 1px 3px 4px gray;
    color: greenyellow;
}

.skills1 {
    text-shadow: 1px 3px 15px silver;
    font-size: 70px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 20px;
}

.skills1 img {
    margin: auto;
    padding: 1rem 1rem;
    transition: .5s;
}

.skills1 img:hover {
    transform: scale(1.3);
}

.html {
    margin-top: -1.5rem;
    padding: 1rem;
    color: orange;
    line-height: 1rem;
    font-size: 20px;
    top: 20px;
}

.css {
    margin-top: -1.5rem;
    padding: 1rem;
    line-height: 1rem;
    font-size: 20px;
    top: 20px;
}

.text h1 {
    text-align: center;
}